*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#320045;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
}

.main-container .right-col{
    background-color: white;
    margin-left: 195px;
    width: 33%;
    height: 100vh;
}
.main-container .left-col{
    margin-left: 150px;
    color: white;
    border-left: 4px solid #f23548;
}
.main-container .left-col #head1{
    font-size: 70px;
}
.main-container .left-col #head2 span{
    color: #f23548;
}

.main-container .right-col form{
    text-align: center;
    margin-top: 100px;
}
.main-container .right-col form input{
    padding: 15px 50px;
}
.main-container .right-col form #btn{
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: #f23548;
    font-size: 15px;
    border: none;
    box-shadow: 0px 0px 10px rgba(50,40,60,0.5);
    transition: all ease 1s;

}
.main-container .right-col form #btn:hover{
    box-shadow: 0px -3px 10px  rgba(70,70,60,0.5);
    background-color: #ff1d34;
}
.main-container .right-col form a{
    text-decoration: none;
    color: #f23548;
}


@media screen and (max-width:600px){
    .main-container{
        flex-direction: column;
    }
    .main-container .right-col{
        width: 100%;
        height: 110vh;
        margin-left: 0%;
    }
    .main-container .left-col{
        margin-left: 0%;
        margin-top: 20px;
    }
    .main-container .left-col #head1{
        font-size: 30px ;
       
    }

}